/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

html {
  font-size: 100%; }

html, body {
  height: 100%; }

:focus {
  outline: none; }

*, *:before, *:after {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

a:focus {
  outline: none; }

input,
textarea,
select {
  border: none;
  border-radius: 0;
  box-shadow: none; }

input,
textarea {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; }

img, iframe {
  max-width: 100%; }

img, textarea {
  vertical-align: top; }

button {
  border: none;
  background: transparent;
  cursor: pointer; }

body, select, option, button, textarea {
  color: #FFFFFF;
  font: 400 24px/1.5 'Poppins', sans-serif; }
  @media only screen and (max-width: 1024px) {
    body, select, option, button, textarea {
      font-size: 16px; } }

body {
  background-color: #1F1D2B;
  position: relative; }

main {
  padding-bottom: 220px; }
  @media only screen and (max-width: 768px) {
    main {
      padding-bottom: 120px; } }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  width: 1062px; }

.card {
  backdrop-filter: blur(110px);
  border-radius: 32px;
  padding: 32px;
  background: linear-gradient(177deg, #2b2e4e 1%, #292847 99%) padding-box, linear-gradient(177deg, #FB37FF 1%, #211c2a 30%, #211c2a 70%, #1BB2DE 99%) border-box;
  border: 1px solid transparent; }
  @media only screen and (max-width: 480px) {
    .card {
      border-radius: 24px;
      padding: 24px; } }

.h-2 {
  font: 400 56px/1.3 'Bebas Neue', cursive;
  letter-spacing: 4px;
  text-transform: uppercase; }
  @media only screen and (max-width: 1024px) {
    .h-2 {
      font-size: 32px; } }

.lang {
  cursor: pointer;
  position: absolute;
  right: 80px;
  top: 80px; }
  @media only screen and (max-width: 768px) {
    .lang {
      right: 40px;
      top: 40px; } }
  @media only screen and (max-width: 480px) {
    .lang {
      right: 24px;
      top: 24px; } }
  .lang__selected {
    font: 400 24px/1.5 'Poppins', sans-serif;
    position: relative;
    padding-right: 14px;
    text-transform: capitalize; }
    @media only screen and (max-width: 480px) {
      .lang__selected {
        font-size: 16px; } }
    .lang__selected:before {
      bottom: 30%;
      background: no-repeat center/contain url("../img/arrow_icon.svg");
      content: '';
      height: 6px;
      position: absolute;
      right: 0;
      transition: transform .3s ease;
      width: 8px; }
    .lang__selected.active {
      pointer-events: none; }
      .lang__selected.active:before {
        transform: rotate(-180deg); }
      .lang__selected.active + .lang__list {
        opacity: 1;
        visibility: visible; }
  .lang__list {
    opacity: 0;
    visibility: hidden;
    text-align: center;
    transition: all .3s ease; }
  .lang__item {
    font: 400 20px/1.5 'Poppins', sans-serif;
    opacity: .7;
    text-transform: capitalize; }
    @media only screen and (max-width: 480px) {
      .lang__item {
        font-size: 16px; } }

.header {
  padding-bottom: 144px;
  padding-top: 100px; }
  @media only screen and (max-width: 768px) {
    .header {
      padding-bottom: 80px;
      padding-top: 60px; } }
  .header__logo {
    height: 205px;
    margin-bottom: 32px;
    object-fit: contain;
    width: 222px; }
    @media only screen and (max-width: 1024px) {
      .header__logo {
        height: 150px;
        width: 160px; } }
  .header__container {
    text-align: center; }
    @media only screen and (max-width: 1024px) {
      .header__container {
        width: 600px; } }
  .header__title {
    margin-bottom: 60px; }
  .header__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    @media only screen and (max-width: 480px) {
      .header__list {
        justify-content: space-evenly; } }
  .header__item {
    margin-bottom: 24px;
    margin-left: 24px;
    margin-right: 24px;
    width: 100px; }
    @media only screen and (max-width: 1024px) {
      .header__item {
        width: 80px; } }
    @media only screen and (max-width: 480px) {
      .header__item {
        margin-left: 16px;
        margin-right: 16px;
        width: 60px; } }
  .header__link {
    align-items: center;
    background: rgba(255, 255, 255, 0.095);
    backdrop-filter: blur(7px);
    border-radius: 32px;
    box-shadow: inset 2px -2px 20px rgba(214, 214, 214, 0.17), inset -3px 3px 3px rgba(255, 255, 255, 0.39);
    display: flex;
    height: 100px;
    justify-content: center;
    margin-bottom: 16px;
    width: 100%; }
    @media only screen and (min-width: 1025px) {
      .header__link:hover + p {
        opacity: .6; }
      .header__link:hover > img {
        transform: scale(0.9); } }
    @media only screen and (max-width: 1024px) {
      .header__link {
        height: 80px; } }
    @media only screen and (max-width: 480px) {
      .header__link {
        border-radius: 16px;
        height: 60px; } }
    .header__link_img {
      height: 70px;
      object-fit: contain;
      transition: transform .3s ease;
      width: 70px; }
      @media only screen and (max-width: 1024px) {
        .header__link_img {
          height: 50px;
          width: 50px; } }
  .header__desc {
    font: 700 16px/1.5 'Poppins', sans-serif;
    transition: opacity .3s ease; }
    @media only screen and (max-width: 480px) {
      .header__desc {
        font-size: 12px; } }

.timeline__container {
  margin-bottom: 120px; }
  @media only screen and (max-width: 480px) {
    .timeline__container {
      margin-bottom: 80px; } }

.timeline__title {
  margin-bottom: 36px; }

.timeline__item {
  margin-bottom: 42px; }
  .timeline__item_date {
    font: 700 36px/36px 'Poppins', sans-serif;
    margin-bottom: 16px;
    padding-left: 22px;
    position: relative; }
    @media only screen and (max-width: 1024px) {
      .timeline__item_date {
        font-size: 24px; } }
    @media only screen and (max-width: 480px) {
      .timeline__item_date {
        font-size: 18px;
        line-height: 26px;
        padding-left: 14px; } }
    .timeline__item_date:before {
      background: linear-gradient(169deg, #FB37FF 1.7%, #9B6FEE 27.1%, #7B7FEA 61.3%, #1BB2DE 99.5%) border-box;
      border-radius: 4px;
      content: '';
      display: inline-block;
      margin-right: 16px;
      vertical-align: bottom;
      width: 6px;
      left: 0;
      top: 0;
      bottom: 0;
      position: absolute; }
      @media only screen and (max-width: 480px) {
        .timeline__item_date:before {
          width: 4px; } }
  .timeline__item_desc {
    letter-spacing: .5px;
    margin-bottom: 8px; }
    @media only screen and (max-width: 480px) {
      .timeline__item_desc {
        font-size: 14px; } }
  .timeline__item_percent-wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 28px; }
    @media only screen and (max-width: 480px) {
      .timeline__item_percent-wrap {
        margin-top: 12px; } }
  .timeline__item_line {
    background: linear-gradient(180deg, #FB37FF 1.7%, #9B6FEE 27.1%, #7B7FEA 61.3%, #1BB2DE 99.5%) border-box;
    border: 1px solid transparent;
    border-radius: 32px;
    height: 16px;
    position: relative;
    flex-grow: 1; }
    .timeline__item_line:before {
      background-color: transparent;
      border-radius: 32px;
      border: 1px solid #2A2B4A;
      bottom: 0;
      content: '';
      left: -1px;
      position: absolute;
      right: -1px;
      top: 0; }
    @media only screen and (max-width: 480px) {
      .timeline__item_line {
        border: none;
        height: 10px; } }
  .timeline__item_percent {
    font: 400 24px/1.5 'Bebas Neue', cursive;
    letter-spacing: 4px;
    margin-left: 16px; }
    @media only screen and (max-width: 480px) {
      .timeline__item_percent {
        font-size: 16px; } }

.about__container {
  margin-bottom: 120px;
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 768px) {
    .about__container {
      flex-direction: column; } }
  @media only screen and (max-width: 480px) {
    .about__container {
      margin-bottom: 80px; } }

.about__wrap, .about__img-wrap {
  flex: 0 0 49%; }

@media only screen and (max-width: 768px) {
  .about__wrap {
    margin-bottom: 40px; } }

.about__title {
  margin-bottom: 24px; }

.about__desc {
  margin-bottom: 28px;
  letter-spacing: .5px; }

.about__payment {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 480px) {
    .about__payment {
      justify-content: space-between; } }

.about__img {
  height: auto; }
  .about__img:not(:last-child) {
    margin-right: 60px; }
    @media only screen and (max-width: 480px) {
      .about__img:not(:last-child) {
        margin-right: 0; } }
  .about__img_visa {
    width: 133px; }
    @media only screen and (max-width: 1024px) {
      .about__img_visa {
        width: 90px; } }
  .about__img_mastercard, .about__img_unionpay {
    width: 89px; }
    @media only screen and (max-width: 1024px) {
      .about__img_mastercard, .about__img_unionpay {
        width: 60px; } }

.about__img-wrap {
  text-align: center; }

.about__img-card {
  height: 427px;
  transform: translateY(33px);
  width: 425px; }
  @media only screen and (max-width: 768px) {
    .about__img-card {
      height: 214px;
      width: 213px; } }
  @media only screen and (max-width: 480px) {
    .about__img-card {
      transform: translateY(25px); } }

.soon {
  text-align: center; }
  .soon__title {
    margin-bottom: 32px; }
    @media only screen and (max-width: 480px) {
      .soon__title {
        margin-bottom: 20px; } }
  .soon__store {
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 480px) {
      .soon__store {
        align-items: center;
        flex-direction: column; } }
    .soon__store_link {
      height: 85px;
      margin-left: 16px;
      margin-right: 16px;
      opacity: 1;
      pointer-events: none;
      width: 296px; }
      @media only screen and (min-width: 1025px) {
        .soon__store_link {
          transition: opacity .3s ease; }
          .soon__store_link:hover {
            opacity: .7; } }
      @media only screen and (max-width: 1024px) {
        .soon__store_link {
          height: 60px;
          width: 200px; } }
      @media only screen and (max-width: 480px) {
        .soon__store_link:not(:last-child) {
          margin-bottom: 20px; } }
    .soon__store_img {
      height: 100%;
      object-fit: contain;
      width: 100%; }

.buy__container {
  margin-bottom: 120px;
  text-align: center; }
  @media only screen and (max-width: 480px) {
    .buy__container {
      margin-bottom: 80px; } }

.buy__title-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px; }
  @media only screen and (max-width: 1024px) {
    .buy__title-wrap {
      margin-bottom: 32px; } }
  @media only screen and (max-width: 480px) {
    .buy__title-wrap {
      flex-direction: column; } }

@media only screen and (max-width: 480px) {
  .buy__title {
    margin-bottom: 20px; } }

.buy__btn {
  background: linear-gradient(169deg, #FB37FF 1.7%, #9B6FEE 27.1%, #7B7FEA 61.3%, #1BB2DE 99.5%) border-box;
  border: 1px solid transparent;
  border-radius: 32px;
  font: 700 22px/60px 'Poppins', sans-serif;
  height: 62px;
  padding-left: 32px;
  padding-right: 32px;
  position: relative; }
  @media only screen and (min-width: 1025px) {
    .buy__btn {
      transition: opacity .3s ease; }
      .buy__btn:hover {
        background: linear-gradient(169deg, #FB37FF 1.7%, #9B6FEE 37.1%, #7B7FEA 51.3%, #1BB2DE 99.5%) border-box;
        opacity: .8; } }
  .buy__btn:before {
    background-color: transparent;
    border-radius: 32px;
    border: 3px solid #2A2B4A;
    bottom: 0;
    content: '';
    left: -2px;
    position: absolute;
    right: -2px;
    top: 0; }

.buy__amount {
  background: linear-gradient(170deg, #32355e 1.85%, #282b48 99%) padding-box, linear-gradient(169deg, #FB37FF 1.7%, #9B6FEE 27.1%, #7B7FEA 61.3%, #1BB2DE 99.5%) border-box;
  border: 1px solid transparent;
  border-radius: 32px;
  margin-bottom: 48px;
  padding: 24px; }
  .buy__amount_enter {
    opacity: .6; }
  .buy__amount_balance {
    font-weight: 700; }
    @media only screen and (max-width: 480px) {
      .buy__amount_balance {
        display: inline-flex;
        justify-content: space-between;
        align-items: baseline; } }
  .buy__amount_currency {
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    padding-right: 12px;
    position: relative; }
    @media only screen and (max-width: 480px) {
      .buy__amount_currency {
        display: inline-flex; } }
    .buy__amount_currency:before {
      bottom: 36%;
      background: no-repeat center/contain url("../img/arrow_icon.svg");
      content: '';
      height: 6px;
      position: absolute;
      right: 0;
      transition: transform .3s ease;
      width: 8px; }
    .buy__amount_currency.active {
      pointer-events: none; }
      .buy__amount_currency.active:before {
        transform: rotate(-180deg); }

.buy__amount-wrap {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 480px) {
    .buy__amount-wrap {
      flex-direction: column; } }
  .buy__amount-wrap:not(:last-child) {
    margin-bottom: 16px; }
  .buy__amount-wrap > p,
  .buy__amount-wrap > div {
    letter-spacing: .5px; }

.buy__price {
  margin-bottom: 48px; }
  .buy__price_desc {
    font-size: 32px;
    font-weight: 700; }
    @media only screen and (max-width: 1024px) {
      .buy__price_desc {
        font-size: 24px; } }
  .buy__price_currency {
    font-weight: 700; }

.buy__price-wrap {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 480px) {
    .buy__price-wrap {
      flex-direction: column; } }
  .buy__price-wrap:not(:last-child) {
    margin-bottom: 16px; }
  .buy__price-wrap > p,
  .buy__price-wrap > div {
    letter-spacing: .5px; }

.buy__btn-buy {
  background: linear-gradient(180deg, #FB37FF 1.7%, #9B6FEE 20.1%, #7B7FEA 80.3%, #1BB2DE 99.5%) border-box;
  border: 1px solid transparent;
  border-radius: 32px;
  font: 400 24px 'Bebas Neue', cursive;
  height: 62px;
  letter-spacing: 4px;
  margin-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  position: relative;
  width: 100%; }
  @media only screen and (min-width: 1025px) {
    .buy__btn-buy {
      transition: opacity .3s ease; }
      .buy__btn-buy:hover {
        background: linear-gradient(180deg, #FB37FF 1.7%, #9B6FEE 37.1%, #7B7FEA 51.3%, #1BB2DE 99.5%) border-box;
        opacity: .8; } }
  @media only screen and (max-width: 1024px) {
    .buy__btn-buy {
      font-size: 18px; } }
  .buy__btn-buy:before {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 32px;
    border: 3px solid #2A2B4A;
    bottom: 0;
    content: attr(data-translate);
    left: -2px;
    position: absolute;
    right: -2px;
    top: 0; }
  .buy__btn-buy > span {
    bottom: 0;
    display: inline-block;
    left: 0;
    line-height: 58px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2; }

.buy__btn-add {
  background: -webkit-linear-gradient(90deg, #FB37FF 1.7%, #9B6FEE 27.1%, #7B7FEA 61.3%, #1BB2DE 99.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  font: 400 24px/1.5 'Bebas Neue', cursive;
  letter-spacing: .5px;
  margin-right: auto;
  margin-left: auto; }
  @media only screen and (min-width: 1025px) {
    .buy__btn-add:hover {
      background: -webkit-linear-gradient(-90deg, #FB37FF 1.7%, #9B6FEE 37.1%, #7B7FEA 51.3%, #1BB2DE 99.5%) border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-box-decoration-break: clone; } }
